body {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    direction: ltr;
}

.calendarDay {
    display: inline-block;
    border: 0px solid #8a2be2;
    width: 620px;
    height: 720px;
    position: relative;
    background-color: #ececec;
}

.timeline {
    /*font-family: 'Tahoma';*/
    text-align: right;
    font-size: 13px;
    color: gray;
    display: inline-block;
    /*border: 1px solid red;*/
}

.hour {
    font-weight: bold;
    display: block;
    height: 30px;
    color: #686868;
}

.halfHour {
    font-size: 11px;
    display: block;
    height: 30px;
    color: #b9b9b9;
}

.amPm {
    font-size: 11px;
    font-weight: normal;
    color: #bfbfbf;
}

.event {
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    border-left: 5px solid #4b6ea8;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.eventTitle {
    font-weight: normal;
    font-size: 13px;
    color: #4b6ea8;
}

.eventLocation {
    font-weight: normal;
    font-size: 11px;
    color: gray;
}